<title>Rection-Diffusion Sytems</title>
<link rel="icon" type="image/png" href="img/favicon.png"/>
<meta charset="UTF-8">

<!-- computer modern fonts -->
<link rel="stylesheet" href="fonts/bright/cmun-bright.css"></link>
<link rel="stylesheet" href="fonts/concrete/cmun-concrete.css"></link>
<link rel="stylesheet" href="fonts/sans/cmun-sans.css"></link>
<link rel="stylesheet" href="fonts/serif/cmun-serif.css"></link>
<link rel="stylesheet" href="fonts/typewriter/cmun-typewriter.css"></link>

<!-- layout style -->
<link rel="stylesheet" type="text/css" href="css/style.css"/>

<!-- loading and querying -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/load.js"></script>

<!-- parameter sliders -->
<link type="text/css" href="css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- color gradient widget -->
<link rel="stylesheet" type="text/css" href="css/gradientui.css"/>
<script type="text/javascript" src="js/colorPicker.js"></script>
<script type="text/javascript" src="js/gradientui.js"></script>

<!-- gpu solver -->
<script type="text/javascript" src="main.js"></script>

<!-- accurate psuedo-random number generator -->
<script src="js/random.min.js"></script>
<script src="js/math.js"></script>
<script>random = new Random()</script>
