<title>Rection-Diffusion Sytems</title>
<link rel="icon" type="image/png" href="img/favicon.png"/>
<meta charset="UTF-8">

<!-- standard libraries -->
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/load.js"></script>

<!-- parameter sliders -->
<link type="text/css" href="css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- color gradient widget -->
<link rel="stylesheet" type="text/css" href="css/gradientui.css"/>
<script type="text/javascript" src="js/colorPicker.js"></script>
<script type="text/javascript" src="js/gradientui.js"></script>

<!-- main libraries -->
<script type="text/javascript" src="main.js"></script>

<!-- math and linear algebra -->
<script src="js/lalolib/lalolib.js"></script>
<script src="js/math.js"></script>

<!-- plotting -->
<script src="js/plotly.min.js"></script>

<!-- accurate psuedorandom numbers-->
<script src="js/random.min.js"></script>
<script>random = new Random()</script>
