<!DOCTYPE html>
<html lang="en">
	<head> <% include header %> </head>

	<body>
		<h1 style="font-family:'Computer Modern Sans'">Pattern formation in growing bacetrial colonies</h1>
		<div style="font-family:'Computer Modern Serif'">
			<p>We would like to understand the behaviour of the lactone system [1] adapted
				to exhibit bistable behaviour. The system can be reduced to
				coupled differential equations governing the concentrations of
				repressors $\color{gray}{T}$,$\color{gray}{L}$ and activators
				$\color{DarkCyan}{R}$ and $\color{gold}{S}$. The activators are imaged
				via a downstream chemical cascade that lead to cyan and yellow flourescent
				proteins.
			</p>
			<p>
			Activation and inhibition strengths are given by $J,J'$ and $H,H'$
			respectively. The baseline production of inhibitors is given by
			primed and unprimed $\omega,\Omega$. The degredation rates of all
			components are given by primed and unprimed $\mu,\nu$.
				$$
				\begin{align}
				        \frac{d\color{gray}{L}}{dt} =
				        J\frac{
				        \color{DarkCyan}{R}^2
				        \left(
				        \frac{\color{DarkBlue}{C_6}}{p+\color{DarkBlue}{C_6}}
				        \right)^n
				        +\omega}
				        {\color{DarkCyan}{R}^2
				        \left(
				        \frac{\color{DarkBlue}{\color{DarkBlue}{C_6}}}{p+\color{DarkBlue}{\color{DarkBlue}{C_6}}}
				        \right)^n
				        +\Omega }-\mu\color{gray}{L}
				        \quad\qquad
				        \frac{d\color{DarkCyan}{R}}{dt} =
				        H\frac{1}{1+\color{gray}{T}^4}-\nu\color{DarkCyan}{R}
				        \\
				        \frac{d\color{gray}{T}}{dt} =
				        J^\prime\frac{\color{gold}{S}^{2}
				        \left(
				        \frac{\color{DarkBlue}{C_{12}}}{q+\color{DarkBlue}{C_{12}}}
				        \right)^m
				        +\omega^\prime }
				        {\color{gold}{S}^{2}
				        \left(
				        \frac{\color{DarkBlue}{C_{12}}}{q+\color{DarkBlue}{C_{12}}}
				        \right)^m
				        +\Omega^\prime }-\mu^\prime\color{gray}{T}
				        \quad\quad
				        \frac{d\color{gold}{S}}{dt} =
				        H^\prime\frac{1}{1+\color{gray}{L}}-\nu^\prime \color{gold}{S}
				        \\
				        \frac{d\color{DarkBlue}{C_{6}}}{dt} = D_{6}\frac{d^2\color{DarkBlue}{C_{6}}}{dx^2}
				        \qquad\qquad\quad\quad\quad\quad\quad\quad
				        \frac{d\color{DarkBlue}{C_{12}}}{dt} = D_{12}\frac{d^2\color{DarkBlue}{C_{12}}}{dx^2}
				        \quad\quad
				\end{align}
				$$
				The plan is to couple the above equation to Fisher's equation
				$$
				\left(\,\partial_t-G \partial_x^2\,\right) \color{green}{B}= r  \color{green}{B} (1- \color{green}{B})
				$$
				In the simulation below we have not yet coupled the equations together,
				but the system still exhibits wave-like patterns.
				<br><br>
			</p>
		</div>
		<div id="simulation">

			<aside class="panel">

				<section id="instructions">
					<header><h4>Model</h4></header>
						Reduced Lactone System
						<br></br>
				</section>

				<section id="controls">
					<header><h4>Parameters</h4></header>

					Diffusion Ratio $D\,'/D$:
					<span class="remark" id="diffusionRatio"></span><br/>
					<div id="diffusionRatioSlider" class="slider"></div>

					Short-range autocatalysis $\alpha$:
					<span class="remark" id="alpha"></span><br/>
					<div id="alphaSlider" class="slider"></div>

					Long-range inhibition $J$:
					<span class="remark" id="interaction"></span><br/>
					<div id="interactionSlider" class="slider"></div>

					Inhibitor catalysis $\beta$:
					<span class="remark" id="beta"></span><br/>
					<div id="betaSlider" class="slider"></div>

					Degradation $\mu$:
					<span class="remark" id="degradation"></span><br/>
					<div id="degradationSlider" class="slider"></div>

					<!-- Noise:
					<span class="remark" id="noise"></span><br/>
					<div id="noiseSlider" class="slider"></div> -->

					Grid Size:
					<span class="remark" id="gridSize"></span><br/>
					<div id="gridSizeSlider" class="slider"></div>

					Time Step:
					<span class="remark" id="timeStep"></span><br/>
					<div id="timeStepSlider" class="slider"></div>

					Colors:
					<div id="gradient"></div>
				</section>

			</aside>

			<canvas id="simulation-canvas" width="1024px" height="512px"
				style="width:1024px;height:512px;border:1px solid black"></canvas>

			<script>

				// initialise color scheme
				$("#gradient").gradient({values: [[0.0,'#000000'],
				[0.6,'#808080'],[0.7,'#008b8b'],
				[0.8,'#808080'],[0.9,'#FFDF00']]})

				// instantiate simulation canvas
				Solver = new Simulation('simulation-canvas')

			</script>
		</div>
		<br><br>
		<p>
			[1] Grant, P. et al. 2016. Orthogonal intercellular signaling for programmed spatial behavior <br>
			[2] Smith-Roberge, J. et al. 2018. Pattern formation in bacterial colonies with density-dependent diffusion
		</p>

		<iframe id='jupyter-notebook' src="http://reaction-diffusion.com:8888/notebooks/whiteboard.ipynb"
		frameBorder="0" style="width:100%;height:950px;"></iframe>
		<script> jupyter = new Jupyter('jupyter-notebook') </script>
	</body>
</html>
