body {
    margin: 0 25px;
}

header, footer, aside, nav {
    display: block;
}

#simulation {
    display:table;
    margin: 0 25px;
}

#simulation .viewer {
    display:table-cell;
}

#simulation .panel {
    display:table-cell;
    vertical-align:top;
    width: 300px;
    padding: 0px 5px 0px 5px;
    font-size: 10pt;
    font-family: 'Computer Modern Sans'
}

#simulation .panel .slider {
    margin: 7px 10px 10px 10px;
}
