<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gradient widget</title>
        <script type="text/javascript" src="js/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/gradientui.css"/>
        <script type="text/javascript" src="js/colorPicker.js"></script>
        <script type="text/javascript" src="js/gradientui.js"></script>

        <style>
            #gradient { width: 100%; height: 45px;}
        </style>

        <script>
            $(function(){
                $("#gradient").gradient();
            });
        </script>

    </head>
</html>
